* {
    box-sizing: border-box; /* Avoid padding problems */
}
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
    margin: 0; /* évite le comportement par défault body sur chrome & mozilla qui met une marge de 8px */
    font-family: "Raleway", sans-serif; /*** Ne pas mettre de width sur le body car ca force une taille ***/
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}

#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    height: 50px;
    text-align: center;
}

#main-text {
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
    font-size: 1.3em;
    line-height: 1.4;
}

#subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    margin-top: -5px;
    margin-bottom: 15px;
}

#rechercher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0065fc;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    border: 1px solid #0065fc;
    color: white;
    border-radius: 0 10px 10px 0;
    height: 50px;
    width: 130px;
}

#logo-marker {
    position: absolute;
    top: 29%;
    left: 32%;
    width: 17px;
    height: 17px;
}

#logo-container {
    position: relative;
    width: 50px;
    height: 50px;
    padding-left: 20px;
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 30% 0% 0% 30%;
}

#ville {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(211, 211, 211);
    padding-left: 10px;
    height: 50px;
    width: 240px;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
}

#hebergement {
    color: #0065fc;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-bar ul li {
    list-style: none;
    font-family: "Raleway", sans-serif;
    margin-left: 60px;
}

#nav-bar ul a {
    text-decoration: none;
    color: #0065fc;
}

#activite {
    color: black;
}

#filtres {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#filtre-eco, #filtre-fam, #filtre-roman, #filtre-animaux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-right: 20px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 2px solid darkgrey;
    border-radius: 20px;
}

#filtre-animaux {
    width: 180px;
}

#filtre {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

#heberg-marseille {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    height: 630px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

#sec_part1, #sec_part2 {
    margin-left: 42px;
    margin-right: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.etiquette {
    width: 250px;
    height: 195px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px #bebebe;
}

h2,
p {
    margin-left: 40px;
    font-family: "Raleway", sans-serif;
}

.img-etiq {
    width: 240px;
    height: 110px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 15px 15px 0px 0px;
}

.txt-etiq {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 7px;
}

.sub-etiq {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 5px;
}

.etoile {
    width: 13px;
    height: 13px;
    margin-right: -3px;
}

.etoiles {
    margin-left: 15px;
    margin-top: 5px;
}

footer {
    height: 200px;
    margin-top: 40px;
    background-color: #f2f2f2;

}