#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:300px;
    border: 1px solid black;
    border-radius: 12% / 90%;
}

#rechercher {
    background-color: blue;
}

#logo-marker {
    width: 15px;
    padding-left: 20px;
    background-color: grey;
}