* {
    box-sizing: border-box; /* Avoid padding problems */
  }

body {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 20px;
}

#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:350px;
    height: 40px;
    text-align: center;
}

#rechercher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    border-radius: 0 10px 10px 0;
    height: 40px;
    width: 130px;
}

#logo-marker
{
    position: absolute;
    top: 27%;
    left: 32%;
    width: 17px;
    height: 17px;
    
}

#logo-container
{
    position: relative;
    width: 40px;
    height: 40px;
    padding-left: 20px;
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 30% 0% 0% 30% ;
}


#ville {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(211, 211, 211);
    padding-left: 10px;
    height: 40px;
    width: 160px;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-bar ul li {
    list-style: none;
    margin-left: 40px;
}

#nav-bar ul a {
    text-decoration: none;
    color: black;
}

#filtres {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#filtre-eco, #filtre-fam, #filtre-roman, #filtre-animaux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 2px solid darkgrey;
    border-radius: 20px;

}

#filtre-animaux {
    width: 180px;
}

#filtre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}
